<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1070804224791-e2k9mj3b6dn8sndstida19k1m2nuiq4r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1070804224791-e2k9mj3b6dn8sndstida19k1m2nuiq4r</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1070804224791-n119uhbutmq4ibvurcov8qh7agnlo79q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyByZOPyfaTAJQvFeCpfIz4tI9IvIc_cZBc</string>
	<key>GCM_SENDER_ID</key>
	<string>1070804224791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wallpaperApp</string>
	<key>PROJECT_ID</key>
	<string>whatapp-clone-10f04</string>
	<key>STORAGE_BUCKET</key>
	<string>whatapp-clone-10f04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070804224791:ios:4e792dfbc2d3049055c552</string>
</dict>
</plist>